
body{
  height: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: url("../photos/landing1080-2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;'
}
.center-text {
  margin-top: 15px;
  text-align: center;
}
.center{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

/*following must be total 100vh */


h1{
    font-family: 'Alegreya Sans SC', sans-serif;
}

.uutinen {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
   background-color: #e1e4e1 ;
   width: 20em;
   align-self: auto;
   margin: 0 10px;
}
.logo{
  width: auto;
  height: 200px;
}
.logo-bar {
    width: 50px;
   height: 50px;
   margin-right:5px;
   margin-top: 0px;
   float:left;
}
.bar-otsikko {
  justify-content: center;
  font-size: xx-large;
}
.uutiscontainer {
  display: flex;
  justify-content: space-around;
}
